.heading {
	text-align: center;
}
.flexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center 
}

.flexRow {
	display: flex;
	align-items: baseline;
	justify-content: center 
}

.flexWrapper {
	display: flex;
	justify-content: center;	
	flex-wrap: wrap;	
}

.flexItem {
	list-style-type: none;
	display: flex;
	flex: 1 1 350px;
	flex-direction: column;
	align-items: center;
	
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 1rem;
	font-size: 1.25rem;
	text-align: center;
}