.heading {
	text-align: center;
}

.grid {
	display: grid;
	row-gap: 3rem;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem;
}

.gridItem {
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 1rem;
	font-size: 1.25rem;
	text-align: center;
}