.heading {
	text-align: center;
}
.flexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center 
}

.flexRow {
	display: flex;
	align-items: baseline;
	justify-content: center 
}

.grid {
	display: grid;
	row-gap: 3rem;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem;
	list-style: none;
}

.gridItem {
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 1rem;
	font-size: 1.25rem;
	text-align: center;
}